.App {
  border: 1px solid gold;
  width: 300px;
  height: 300px;
  margin: auto;
}
.head {
  display: flex;
  justify-content: space-around;
  padding-top: 65px;
}
.head input {
  outline: none;
}
.App button {
  border: 1px solid aqua;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: transparent;
  color: red;
}
.App h1 {
  text-align: center;
}
.footer {
  display: flex;
  justify-content: space-evenly;
}
